<div class="strona-pojemnik">
 
  <h1>Notatker.ai</h1>


  @if (!pokazRejestracje) {
    <div class="formularz-ramka">
      <h2>Log in</h2>
     
      <form [formGroup]="loginForm">
        <div class="pole-grupowe">
          <label>Login:</label>
          <input type="text" formControlName="login">
        </div>
       
        <div class="pole-grupowe">
          <label>Password:</label>
          <input type="password" formControlName="password">
        </div>
       
        <button type="submit" class="glowny-przycisk">Log in</button>
      </form>


      <div class="dolny-tekst">
        <span>Don't have an account? </span>
        <button type="button" class="przycisk-link" (click)="przelaczWidok()">Sign up</button>
      </div>
    </div>
  }


  @if (pokazRejestracje) {
    <div class="formularz-ramka">
      <h2>Sign up</h2>
     
      <form [formGroup]="registerForm">
        <div class="pole-grupowe">
          <label>First Name:</label>
          <input type="text" formControlName="firstName">
        </div>
       <div class="pole-grupowe">
          <label>Last Name:</label>
          <input type="text" formControlName="lastName">
        </div>
       
        <div class="pole-grupowe">
          <label>Login:</label>
          <input type="text" formControlName="login">
        </div>
       
        <div class="pole-grupowe">
          <label>Email:</label>
          <input type="email" formControlName="email">
        </div>
       
        <div class="pole-grupowe">
          <label>Password:</label>
          <input type="password" formControlName="password">
        </div>
       
        <div class="pole-grupowe">
          <label>Retype Password:</label>
          <input type="password" formControlName="retypePassword">
        </div>
       
        <button type="submit" class="glowny-przycisk">Sign up</button>
      </form>


      <div class="dolny-tekst">
        <span>Already have an account? </span>
        <button type="button" class="przycisk-link" (click)="przelaczWidok()">Log in</button>
      </div>
    </div>
  }
</div>

